* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 400px;
  height: 600px;
  padding: 20px 30px;
  background-color: antiquewhite;
  margin: 200px auto;
  border-radius: 4px;
  box-shadow: 4px 6px 16px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 6px 16px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 16px 2px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#calc-area,
#result-area {
  padding: 0px 10px;
  font-size: xx-large;
  text-align: right;
  grid-column: 1/5;
}

button {
  font-size: x-large;
}
